@import './base.css';

#app {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/luca_2.jpg");
}

input {
  border: solid 1px;
  border-radius: 10px;
  height: 40px;
  width: 260px;

  padding: 0 12px;

  font-size: 16px;

}

input:focus{
  outline: none;
  border: solid 2px #007bff; /* Changes border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a blue shadow around the input */
}

button {
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: #007bff;
  outline: none;
  border: none;
  color: #fff;
}



